@charset "UTF-8";

@media (max-width:800px){
  section {
    padding: 40px 40px;
    width: 100%;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.6);
  }

  .header_wrapper {
    padding: 15px 30px;
    width: 100px;
  }

  .sp_hamburger {
    height: 27px;
    position: relative;
    z-index: 10;
  }

  .sp_hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 30px;
    background-color: #fff;
    border-radius: 2px;
  }

  .first_line {
    top: 0;
    transition: 0.7s;
  }

  .second_line {
    top: 12px;
    transition: 0.7s;
  }

  .third_line {
    bottom: 0;
    transition: 0.7s;
  }

  .first_line.hamburger_open {
    transform: translateY(12px) rotate(45deg);
    left: 0;
    background-color: #241a08;
    transition: 0.7s;
  }

  .second_line.hamburger_open {
    display: none;
  }

  .third_line.hamburger_open {
    transform: translateY(-12px) rotate(-45deg);
    left: 0;
    background-color: #241a08;
    transition: 0.7s;
  }

  .header_wrapper .nav {
    background-color: #fff;
    padding: 80px 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    opacity: 0;
    transform: translateX(-200px);
    transition: 1s;
  }

  .header_wrapper .nav_show {
    opacity: 1;
    transform: translateX(0);
    transition: 1s;
  }

  .header_nav li {
    margin-bottom: 20px;
  }

  .site_title {
    font-size: 50px;
  }
 
  .about_profile {
    width: 100%;
  }

  .about_profile p {
    text-align: center;
  }

  .skills_list li {
    width: 100%;
    margin-bottom: 50px;
  }
  
  .skills_contents p {
    text-align: center;
  }

  .works_list li {
    width: 100%;
    height: auto;
    padding: 30px 0;
  } 
}

@media (min-width:800px){
  section {
    padding: 80px 80px;
    width: 80%;
  }

  .header_wrapper {
    padding: 50px 40px;
    display: flex;
    justify-content: center;
  }

  .site_title {
    font-size: 70px;
  }

  .header_nav {
    display: flex;
  }

  .header_nav li {
    padding: 0 20px;
  }
  
  .about_profile {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }

  .skills_list {
    display: flex;
    justify-content: space-between;
  }

  .skills_list li {
    width: 40%;
  }

  .skills_contents {
    margin: 0 auto;
  }

  .works_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }  

  .works_list li {
    width: 50%;
    height: auto;
  }
}