@charset "UTF-8";

body {
  font-family: 'Noto Sans JP', sans-serif;
}

p, a{
  color: #241a08;
}

p {
  line-height: 1.6;
}

img {
  width: 100%;
}

section {
  margin: 0 auto;
}

.section_title {
  font-size: 36px;
  margin-bottom: 60px;
  text-align: center;
  color: #241a08;
}

.header_title {
  font-size: 20px;
  color: #241a08;
}

.header_nav li a:hover {
  opacity: 0.5;
}

.hero {
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}

.about_photo img{
  border-radius: 50%;
}

.about_profile p {
  margin-bottom: 20px;
}

.about_introduction {
  padding-top: 30px;
}

.skills_title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
  color: #241a08;
}

.skills_tools {
  text-align: center;
  margin-bottom: 20px;
}

.skills_pcicon {
  background-image: url(../images/pcicon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
}

.skills_mouseicon {
  background-image: url(../images/mouseicon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
}

.works_list li {
  padding: 30px;
  transition: 0.6s;
  cursor: pointer;
}

.works_list li:hover {
  opacity: 0.7;
  transform: scale(1.05);
}

.works_list li img {
  /* border: solid .5px #241a08; */
  box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
}

.works_text {
  display: none;
}

.footer_wrapper {
  padding: 30px 30px;
}

.footer_wrapper p {
  text-align: center;
  font-size: 12px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  overflow-y: scroll;
}

.modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal_content {
  position: relative;
  background-color: #f5f5f5;
  width: 70%;
  height: fit-content;
  border-radius: 10px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index:10;
}

.bigimg {
  width: 80%;
  margin: 0 auto;
  padding: 10% 10% 5%; 
}

.bigimg img {
  width: 100%;
  object-fit: cover;
}

.modal_text {
  font-size: 16px;
  padding: 0 10% 10%;
  
}

.close-btn {
  width: 36px;
  height: 36px;
  position: absolute;
  right: -18px;
  top: -18px;
  background-image: url(../images/cross.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

@media screen and (max-width:600px) {
  .modal_content {
      width: 85%;
      top: 30%;
  }

  .close-btn {
      width: 40px;
      height: 40px;
      right: -20px;
      top: -20px;
  }
}